.toggle-button {
    background-color: #D1D5D7;
    border: none;
    border-radius: 20px;
    width: 80px;
    height: 40px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.toggle-button.on {
    background-color: #FF5640;
}

.toggle-slider {
    background-color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    transition: transform 0.3s;
    transform: translateX(0);
}

.toggle-button.on .toggle-slider {
    transform: translateX(20px);
}
