.confirm-wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 80vw;
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 10px;
    padding: 40px;
}

.confirm-wrapper h1 {
    font-size: 24px;
    color: #333;
}

.content {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
    gap: 220px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    white-space: nowrap;

}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: bold;

}

.topic {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
}

.conversation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.large-text2 {
    font-size: 24px;
    font-weight: bold;
}

.small-icon {
    width: 80px;
    height: 80px;
}

.small-button {
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}
