.confirm-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    max-height: 800vh;
    background-color: #ffffff;
    gap: 50px;
}

.confirm-wrapper h1 {
    font-size: 24px;
    color: #333;
}

.content {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    gap: 300px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.topic {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.conversation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.large-text {
    font-size: 24px;
    font-weight: bold;
}

.small-icon {
    width: 80px;
    height: 80px;
}

.small-button {
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}
